# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual Environments
.env
.venv
env/
venv/
ENV/

# OS-Specific
.DS_Store
Thumbs.db

# IDEs and Editors
.idea/
.vscode/

# Project Artifacts
assistant-bot/user_address_book/*.csv
assistant-bot/user_address_book/*.json
assistant-bot/user_address_book/*.pkl

# Testing & Mock Artifacts
.pytest_cache/
.coverage
htmlcov/
test_addressbook/ex_contacts.csv
test_addressbook/ex_contacts.json
test_addressbook/ex_contacts.pkl
